
/* directions */

$right:right;
$left:left;

/* //directions */

/* color */

$whitecolor:#fff;
$bluecolor:#0F3294;
$lightbluecolor:#13BEFF;
$lightlightbluecolor:#0dcaf0;
$lllightbluecolor:#b5e3ec;
$greencolor:#8DC043;
$darkdddgraycolor:#565960;
$darkddgraycolor:#707070;
$darkgraycolor:#747474;
$dddddgarycolor:#757575;
$ddddgraycolor:#B1ADAD;
$dddgraycolor:#AFAFAF;
$ddgraycolor:#5f5c5c7d;
$dgraycolor:#b1acac;
$dggraycolor:#A1ADD0;
$graycolor:#D9D9D9;
$lightgraycolor:#EAE3E3;
$lightlightgraycolor:#EFEFEF;
$llightgraycolor:#E8E9EC;
$lllightgratcolor:#FBFBFB;
$blackcolor:#000;
$lightblackcolor:#232323;
$llightblackcolor:#3F3F3F;
$facebookcolor:#4267B2;
$twittercolor:#1DA1F2;
$messagecolor:#f66;
/* //colors */